<template>

    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Events</h1>
        </div>

        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Create event</h6>
                        <b-button id="show-btn" @click="showNewEventModel">Create Event</b-button>
                    </div>

                    <b-modal ref="newEventModel" hide-footer title="create new event">
                        <div class="form" v-on:submit.prevent="createEvent" style="margin: 10px">
                            <form>
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input type="text" v-model="eventData.title" class="form-control" id="title"
                                           aria-describedby="emailHelp">
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea class="form-control" v-model="eventData.description" id="description"
                                              rows="3"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="venue">Venue</label>
                                    <input type="text" v-model="eventData.venue" class="form-control" id="venue">
                                </div>
                                <div class="form-group">
                                    <b-container class="bv-example-row">
                                        <b-row>
                                            <b-col>
                                                <label for="startdate">Start Date</label>
                                                <input placeholder="Selected date" type="date"
                                                       v-model="eventData.start_date" id="startdate"
                                                       class="form-control datepicker">
                                            </b-col>

                                            <b-col>
                                                <label for="start-time">Start Time</label>
                                                <input placeholder="Selected date" type="time"
                                                       v-model="eventData.start_time" id="start-time"
                                                       class="form-control datepicker">

                                            </b-col>
                                        </b-row>
                                    </b-container>
                                </div>
                                <div class="form-group">
                                    <b-container class="bv-example-row">
                                        <b-row>
                                            <b-col>
                                                <label for="end-date">End Date</label>
                                                <input placeholder="Selected date" type="date"
                                                       v-model="eventData.end_date" id="end-date"
                                                       class="form-control datepicker">
                                            </b-col>

                                            <b-col>
                                                <label for="end-time">End Time</label>
                                                <input placeholder="Selected date" type="time"
                                                       v-model="eventData.end_time" id="end-time"
                                                       class="form-control datepicker">

                                            </b-col>
                                        </b-row>
                                    </b-container>
                                </div>

                                <div class="form-group">
                                    <b-container class="bv-example-row">
                                        <b-row>
                                            <b-col><label for="gold-capacity">Gold Ticket Capacity</label>
                                                <input type="number" v-model="eventData.gold_tkt_capacity"
                                                       id="gold-capacity" class="form-control">
                                            </b-col>
                                            <b-col><label for="gold-rate">Gold Ticket Rate</label>
                                                <input type="number" v-model="eventData.gold_tkt_rate" id="gold-rate"
                                                       class="form-control"></b-col>
                                        </b-row>
                                    </b-container>
                                </div>

                                <div class="form-group">
                                    <b-container class="bv-example-row">
                                        <b-row>
                                            <b-col>
                                                <label for="silver-capacity">Silver Ticket Capacity</label>
                                                <input type="number" v-model="eventData.silver_tkt_capacity"
                                                       id="silver-capacity" class="form-control">
                                            </b-col>
                                            <b-col>
                                                <label for="silver-rate">Silver Ticket Rate</label>
                                                <input type="number" v-model="eventData.silver_tkt_rate" id="silver-rate"
                                                       class="form-control">
                                            </b-col>
                                        </b-row>
                                    </b-container>
                                </div>


                                <div class="form-group">
                                    <b-container class="bv-example-row">
                                        <b-row>
                                            <b-col>
                                                <label for="platinum-capacity">Platinum Ticket Capacity</label>
                                                <input type="number" v-model="eventData.platinum_tkt_capacity"
                                                       id="platinum-capacity" class="form-control">
                                            </b-col>
                                            <b-col>
                                                <label for="platinum-rate">Platinum Ticket Rate</label>
                                                <input type="number" v-model="eventData.platinum_tkt_rate"
                                                       id="platinum-rate" class="form-control">
                                            </b-col>
                                        </b-row>
                                    </b-container>
                                </div>

                                <button type="submit" class="btn btn-success">save</button>
                            </form>
                        </div>
                    </b-modal>


                    <div class="card shadow mb-4">

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Venue</th>
                                        <th>Start date</th>
                                        <th>end date</th>
                                        <th>Start time</th>
                                        <th>End time</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Venue</th>
                                        <th>Start date</th>
                                        <th>end date</th>
                                        <th>Start time</th>
                                        <th>End time</th>
                                        <th>Action</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    <tr v-if="events" v-for="(event,index) in events" :key="index">
                                        <td>{{event.title}}</td>
                                        <td>{{event.description}}</td>
                                        <td>{{event.venue}}</td>
                                        <td>{{event.start_date}}</td>
                                        <td>{{event.end_date}}</td>
                                        <td>{{event.start_time}}</td>
                                        <td>{{event.end_time}}</td>
                                        <td>
                                            <router-link :to="{ name: 'event-detail', params: { id: event.id }}"
                                                         class="btn btn-info btn-circle btn-sm">
                                                <i class="fas fa-eye"></i>
                                            </router-link>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import * as eventService from '../services/event_service';

    export default {
        name: 'Events',
        data() {
            return {
                events: [],
                eventData: {
                    title: '',
                    description: '',
                    venue: '',
                    start_date: '',
                    start_time: '',
                    end_date: '',
                    end_time: '',
                    gold_tkt_capacity: '',
                    gold_tkt_rate: '',
                    silver_tkt_capacity: '',
                    silver_tkt_rate: '',
                    platinum_tkt_capacity: '',
                    platinum_tkt_rate: ''
                },
                errors: {}
            }
        },
        mounted() {
            this.getEvents();
        },
        methods: {
            hideNewEventModel() {
                this.$refs.newEventModel.hide();
            },
            showNewEventModel() {
                this.$refs.newEventModel.show();
            },
            getEvents: async function () {
                try {
                    const response = await eventService.getEvents();
                    // console.log(response);
                    this.events = response.data.data;
                    // console.log(this.events);
                } catch (error) {
                    this.flashMessage.error({
                        message: 'Some error occured',
                        time: 5000
                    });
                }
            },
            createEvent: async function () {
                let formData = new FormData();
                formData.append('title', this.eventData.title);
                formData.append('description', this.eventData.description);
                formData.append('venue', this.eventData.venue);
                formData.append('start_date', this.eventData.start_date);
                formData.append('start_time', this.eventData.start_time);
                formData.append('end_date', this.eventData.end_date);
                formData.append('end_time', this.eventData.end_time);
                formData.append('gold_tkt_capacity', this.eventData.gold_tkt_capacity);
                formData.append('gold_tkt_rate', this.eventData.gold_tkt_rate);
                formData.append('silver_tkt_capacity', this.eventData.silver_tkt_capacity);
                formData.append('silver_tkt_rate', this.eventData.silver_tkt_rate);
                formData.append('platinum_tkt_capacity', this.eventData.platinum_tkt_capacity);
                formData.append('platinum_tkt_rate', this.eventData.platinum_tkt_rate);
                try {
                    const response = await eventService.createEvent(formData)
                    this.errors = {};
                    this.events.unshift(response.data);
                    this.hideNewEventModel();
                    this.flashMessage.success({
                        title: 'Event Successfully Created',
                    });

                } catch (error) {
                    switch (error.response.status) {
                        case 422:
                            this.flashMessage.error({
                                message: error.response.data.errors,
                                time: 5000
                            });
                            break;
                        case 500:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                            break;
                        default:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                    }
                }
            }
        }
    }

</script>

