<template>

    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Event Details</h1>
        </div>

        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">event</h6>
                        <b-button id="show-btn" @click="showNewEventModel">Add Event LineUp</b-button>
                    </div>

                    <div style="margin: 10px">


                        <p v-if="event[0]"><strong>Title: </strong>{{event[0].title}}</p>
                        <p v-if="event[0]"><strong>Description: </strong>{{event[0].description}}</p>
                        <p v-if="event[0]"><strong>Venue: </strong>{{event[0].venue}}</p>
                        <p v-if="event[0]"><strong>Start Date: </strong>{{event[0].start_date}}</p>
                        <p v-if="event[0]"><strong>End Date: </strong>{{event[0].end_date}}</p>
                        <p v-if="event[0]"><strong>Start Time: </strong>{{event[0].start_time}}</p>
                        <p v-if="event[0]"><strong>End Time: </strong>{{event[0].end_time}}</p>
                        <br>
                        <label><strong>Event Lineup</strong></label>
                        <div v-for="(event_lineup,index) in event" :key="index">
                            <div class="row">
                                <div class="col-lg-3 col-xl-9">
                                    <strong>Event Date: </strong>  {{event_lineup.event_date}}<br>
                                    <strong>Event Time: </strong>  {{event_lineup.event_time}}
                                </div>
                                <div class="col-lg-10 col-xl-9">
                                    <strong>Event Title: </strong>{{event_lineup.event_title}}<br>
                                    <strong>Event Description: </strong>{{event_lineup.event_description}}
                                </div>
                            </div>
                            <hr>

                        </div>

                        <div v-for="(event_lineup,index) in event_lineups" :key="index">
                            <div class="row">
                            <div class="col-lg-3">
                                {{event_lineup.event_date}}<br>
                                {{event_lineup.event_time}}
                            </div>
                            <div class="col-lg-10">
                                {{event_lineup.event_title}}<br>
                                {{event_lineup.event_description}}
                            </div>
                            </div>
                            <hr>

                        </div>
                    </div>
                    <b-modal ref="newEventModel" hide-footer title="create new lineup">
                        <div class="form" v-on:submit.prevent="createEventLineUp" style="margin: 10px">
                            <form>
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input type="text" v-model="eventData.event_title" class="form-control" id="title">
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea class="form-control" v-model="eventData.event_description" id="description" rows="3"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="event-date">Event Date</label>
                                    <input placeholder="Selected date" type="date" v-model="eventData.event_date" id="event-date" class="form-control datepicker">
                                </div>
                                <div class="form-group">
                                    <label for="event-time">Event Time</label>
                                    <input placeholder="Selected date" type="time" v-model="eventData.event_time" id="event-time" class="form-control datepicker">
                                </div>

                                <button type="submit" class="btn btn-success">save</button>
                            </form>
                        </div>
                    </b-modal>

                </div>
            </div>
        </div>
    </div>
</template>


<script>
    import * as eventService from '../services/event_service';
    export default {
        name:'EventDetail',
        data(){
            return{
                event:[],
                event_lineups:[],
                eventData:{
                    event_title:'',
                    event_description:'',
                    event_date:'',
                    event_time:''
                },
                errors:{}
            }
        },
        mounted(){
            this.getEvents();
        },
        methods:{
            hideNewEventModel(){
                this.$refs.newEventModel.hide();
            },
            showNewEventModel(){
                this.$refs.newEventModel.show();
            },
            getEvents:async function(){
                try{
                   const response = await eventService.getEventsFromId(this.$route.params.id);
                    this.event=response.data;
                }  catch (error) {
                    this.flashMessage.error({
                        message: 'Some error occured',
                        time: 5000
                    });
                }
            },
            createEventLineUp:async function(){
                let formData = new FormData();
                formData.append('event_title',this.eventData.event_title);
                formData.append('event_description',this.eventData.event_description);
                formData.append('event_date',this.eventData.event_date);
                formData.append('event_time',this.eventData.event_time);
                formData.append('event_id',this.$route.params.id);
                try {
                    const response = await eventService.createEventLineup(formData);
                    this.errors={};
                    this.event_lineups.unshift(response.data);
                    this.hideNewEventModel();
                    this.flashMessage.success({
                        title: 'Event Successfully Created',
                    });

                } catch (error) {
                    switch (error.response.status) {
                        case 422:
                            this.flashMessage.error({
                                message: error.response.data.errors,
                                time: 5000
                            });
                            break;
                        case 500:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                            break;
                        default:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                    }
                }
            }
        }
    }
</script>
