<template>
    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Registration</h1>
        </div>

        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Event </h6>
                        <h3 v-if="participants[0]">{{participants[0].title}}</h3>
                        <b-button id="show-btn" @click="showNewEventModel">Add Participants</b-button>
                    </div>
                    <b-modal ref="newEventModel" hide-footer title="create new lineup">
    <div class="form" v-on:submit.prevent="createParticipant" style="margin: 10px">
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" v-model="participantData.name" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" v-model="participantData.phone" id="phone">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" v-model="participantData.email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="ticket">Ticket type</label>
                    <select id="ticket" v-model="participantData.tkt_type" class="form-control">
                        <option value="Gold">Gold</option>
                        <option value="Silver">Silver</option>
                        <option value="Platinum">Platinum</option>
                    </select>

            </div>

            <button type="submit" class="btn btn-success">save</button>
        </form>
    </div></b-modal>


                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>S.no</th>
                                    <th>name</th>
                                    <th>phone</th>
                                    <th>email</th>
                                    <th>Ticket</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>S.no</th>
                                    <th>name</th>
                                    <th>phone</th>
                                    <th>email</th>
                                    <th>Ticket</th>
                                    <th>Action</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr v-for="(participant,index) in participants" :key="index">
                                    <td>{{index+1}}</td>
                                    <td>{{participant.name}}</td>
                                    <td>{{participant.phone}}</td>
                                    <td>{{participant.email}}</td>
                                    <td>{{participant.tkt_type}}</td>
                                    <td>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import * as eventService from "../services/event_service";

    export default {
        name: "RegistrationPage",
        data(){
            return{
                participants:[],
                participantData:{
                    name:'',
                    phone:'',
                    email:'',
                    tkt_type:''
                },
                errors:{}
            }
        },
        mounted() {
            this.getParticipants();
        },
        methods: {
            hideNewEventModel(){
                this.$refs.newEventModel.hide();
            },
            showNewEventModel(){
                this.$refs.newEventModel.show();
            },
            getParticipants: async function () {
                    try{
                        const response = await eventService.getParticipantsFromId(this.$route.params.id);
                        this.participants=response.data;
                        console.log(response.data);
                    }  catch (error) {
                        this.flashMessage.error({
                            message: 'Some error occured',
                            time: 5000
                        });
                    }
            },
            createParticipant: async function () {
                let formData = new FormData();
                formData.append('name', this.participantData.name);
                formData.append('phone', this.participantData.phone);
                formData.append('email', this.participantData.email);
                formData.append('tkt_type', this.participantData.tkt_type);
                formData.append('event_id', this.$route.params.id);
                try {
                    const response = await eventService.createParticipant(formData);
                    this.errors = {};
                    console.log(response.data);
                    this.participants.unshift(response.data);
                    this.hideNewEventModel();
                    this.flashMessage.success({
                        title: 'Event Successfully Created',
                    });

                } catch (error) {
                    switch (error.response.status) {
                        case 422:
                            this.flashMessage.error({
                                message: error.response.data.errors,
                                time: 5000
                            });
                            break;
                        case 500:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                            break;
                        default:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                    }
                }
            }
        }
    }
</script>

<style scoped>

</style>
