<template>
    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Registration</h1>
        </div>

        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Events</h6>
                    </div>

                    <div class="card shadow mb-4">

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Venue</th>
                                        <th>Start date & time</th>
                                        <th>End date & time</th>
                                        <th>Gold</th>
                                        <th>Silver</th>
                                        <th>Platinum</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Venue</th>
                                        <th>Start date & time</th>
                                        <th>End date & time</th>
                                        <th>Gold</th>
                                        <th>Silver</th>
                                        <th>Platinum</th>
                                        <th>Action</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    <tr v-for="(event,index) in events" :key="index">
                                        <td>{{event.title}}</td>
                                        <td>{{event.description}}</td>
                                        <td>{{event.venue}}</td>
                                        <td>{{event.start_date}}
                                        <br>{{event.start_time}}</td>
                                        <td>{{event.end_date}}<br>
                                            {{event.end_time}}</td>
                                        <td>Rate:{{event.gold_tkt_rate}}<br>
                                        Capacity:{{event.gold_tkt_capacity}}</td>
                                        <td>Rate:{{event.silver_tkt_rate}}<br>
                                            Capacity:{{event.silver_tkt_capacity}}</td>
                                        <td>Rate:{{event.platinum_tkt_rate}}<br>
                                            Capacity:{{event.platinum_tkt_capacity}}</td>
                                        <td>
                                            <router-link :to="{ name: 'registration-page', params: { id: event.id }}" class="btn btn-info btn-circle btn-sm">
                                                <i class="fas fa-eye"></i>
                                            </router-link>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import * as eventService from '../services/event_service';
    export default {
        name: "RegistrationParticipant",
        data(){
            return{
                events:[],
                eventData:{
                    title:'',
                    description:'',
                    venue:'',
                    start_date:'',
                    start_time:'',
                    end_date:'',
                    end_time:'',
                    gold_tkt_capacity:'',
                    gold_tkt_rate:'',
                    silver_tkt_capacity:'',
                    silver_tkt_rate:'',
                    platinum_tkt_capacity:'',
                    platinum_tkt_rate:''
                },
                errors:{}
            }
        },
        mounted(){
            this.getEvents();
        },
        methods:{
            getEvents:async function(){
                try{
                    const response = await eventService.getEvents();
                    // console.log(response);
                    this.events=response.data.data;
                    // console.log(this.events);
                }  catch (error) {
                    this.flashMessage.error({
                        message: 'Some error occured',
                        time: 5000
                    });
                }
            },
        }
    }
</script>

<style scoped>

</style>
